@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: white;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    margin-left: 40px;
    margin-right: 40px;
}
.logo {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;
}
.nav {
    display: flex;
    margin-top: 20px;
    margin-bottom: 70px;
    border-bottom: 1px solid black;
}
.menu-list {
    margin-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.menu-item {
    display: inline;
    padding: 20px;
    flex: 3;
}
.menu-item a {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
}
a:visited {
    color: black;
}
a:link {
    color: black;
}
a:hover {
    color: grey;
}
.main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-gap: 40px;
}
.about {
    grid-row: 1;
    grid-column: 4 / 6;
    align-self: center;
    text-align: justify;
}
.pic-about {
    grid-row: 1;
    grid-column: 2 / 4;
}
.pic-about>img {
    width: 100%;
    max-height: 100%;
}
.h3 {
    grid-row: 2;
    grid-column: 2 /3;
    font-family: 'montserrat';
}
/*news feed*/
.news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    grid-row: 2;
    grid-column: 2 / 6;
}
.box {
    margin-top: 50px;
    width: 240px;
    height: 300px;
    border: 1px solid black;
    padding: 10px;
}
.news img {
    width: 100%;
}
.news p {
    text-align: justify;
    font-size: 12px;
}
.news-date {
    font-style: italic;
}
.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-bottom: 30px;
    margin-top: 100px;
    border-top: 1px solid black;
    justify-content: space-around;
    padding: 20px;
    font-size: 10px;
}
.footer a:link {
    text-decoration: none;
}
iframe {
    width: 200px;
    height: 80px;
}
.social a {
    padding: 10px;
}
.social img {
    margin-top: 30px;
    width: 30px;
    height: 30px;
}
.footer p {
    line-height: 1s0px;
}
/* contact */
h2 {
    font-family: Helvetica, sans-serif;
    margin-top: 0px;
    grid-row: 1;
    grid-column: 2 / 4;
}
form {
    grid-row: 1;
    grid-column: 2 / 4;
    margin-top: 40px;
}
.form-text {
    grid-row: 1;
    grid-column: 4 / 6;
    align-self: center;
    text-align: justify;
}
label {
    float: left;
    margin-top: 20px;
}
input {
    padding: 5px;
    width: 100%;
}
input[type=submit] {
    width: 100%;
    background-color: rgb(105, 121, 107);
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
}
input[type=submit]:hover {
    background-color: rgb(71, 78, 72);
}
/*gallery*/
.main-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}
.main-gallery img {
    max-width: 100%;
}
.gallery-item {
    position: relative;
}
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    color: rgb(94, 117, 98);
    background-color: white;
    opacity: 0;
}
.gallery-item:hover .overlay {
opacity: 0.7;
}



/*
.item-1 {
    grid-row: 1;
    grid-column: 1 / 2;
}
.item-2 {
    grid-row: 1;
    grid-column: 2 / 3; 
}
.item-3 {
    grid-row: 3;
    grid-column: 3 / 4; 
}
*/

